/**
 * --------------------------------------------------------------------
 * REWARDS
 * --------------------------------------------------------------------
 */

.rewards_container {
  background-color: #f3f5f6;
}

[data-widget-type="rewards-how-it-works"],
[data-widget-type="rewards-activities"],
[data-widget-type="rewards-earnings-v2"],
[data-widget-type="rewards-spendings-v2"],
[data-widget-type="rewards-referral"] {
  background-color: #f3f5f6;
}

.rewards_container [data-widget-type="rewards-summary"] {
  background-color: #fff;
  background-image: url("https://cdn.shopify.com/s/files/1/0018/3582/7245/files/Store-Photoshoot-PG13.png?v=1634145145");
  background-repeat: no-repeat;
  background-position: right 35% bottom 47%;
  background-size: 100%;
  border-bottom: none;
  padding: 20px 0;
  /*margin-bottom: 40px;*/
  height: 600px;
}

.rewards_container
  .stamped-rewards-widget-btn.stamped-rewards-widget-btn-secondary {
  border: 3px solid #403232;
  background-color: red;
  color: #000;
}

.rewards_container .stamped-rewards-widget-btn {
  border: 3px solid transparent;
  background: var(--stamped-rewards-button-color-background);
  color: var(--stamped-rewards-button-color-text);
  font-weight: 600;
  text-decoration: none;
  padding: 11px 56px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
}

/*.rewards_container .stamped-rewards-widget-btn-holder {
            position: relative;
            border: none;
           font-size: 18px;
            transition: color 0.5s, transform 0.2s, background-color 0.2s;
            outline: none;
            border-radius: 3px;
            margin: 0 10px;
          padding: 23px 33px;
          border: 3px solid transparent;
}

.rewards_container .stamped-rewards-widget-btn-holder:active {
transform: translateY(3px);
}
.rewards_container .stamped-rewards-widget-btn-holder::after, button::before {
border-radius: 3px;
}

.rewards_container .stamped-rewards-widget-btn, 
.rewards_container .stamped-rewards-widget-btn-sign-up {
          background-color: transparent;
          color: #1b1b20;
          border: none;
          overflow: hidden;
          box-shadow: none;
}
.rewards_container .stamped-rewards-widget-btn:hover, 
.rewards_container .stamped-rewards-widget-btn-sign-up:hover {
            color: #e6e6e6;
}
.rewards_container .stamped-rewards-widget-btn::before, 
.rewards_container .stamped-rewards-widget-btn-sign-up::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 3px solid #1b1b20;
          transition: opacity 0.3s, border 0.3s;
}
.rewards_container .stamped-rewards-widget-btn:hover::before, 
.rewards_container .stamped-rewards-widget-btn-sign-up:hover::before {
            opacity: 0;
}
.rewards_container .stamped-rewards-widget-btn::after, 
.rewards_container .stamped-rewards-widget-btn-sign-up::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 200px;
          height: 200px;
          background-color: #494958;
          border-color: transparent;
          border-radius: 50%;
          transform: translate(-10px, -70px) scale(0.1);
          opacity: 0;
          z-index: -1;
          transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.rewards_container .stamped-rewards-widget-btn:hover::after, 
.rewards_container .stamped-rewards-widget-btn-sign-up:hover::after {
          opacity: 1;
          transform-origin: 100px 100px;
          transform: scale(1) translate(-10px, -70px);
}
*/

@media (min-width: 768px) [data-widget-type="rewards-summary"] .stamped-rewards-widget-text-holder,
  [data-widget-type="rewards-summary"] .stamped-rewards-widget-title {
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
  max-width: 100%;
  padding-bottom: 31px;
  position: unset;
}

/*EXAMPLE@media only screen and (max-width: 600px) {
body {
  background-color: lightblue;
}
}*/

@media (min-width: 480px) [data-widget-type="rewards-summary"] .stamped-rewards-widget-text-holder,
  [data-widget-type="rewards-summary"] .stamped-rewards-widget-title {
  padding: 80px 0 0;
}

.rewards_container
  [data-widget-type="rewards-summary"]
  .stamped-rewards-widget-text-holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  position: ;
}

.rewards_container
  [data-widget-type="rewards-summary"]
  .stamped-rewards-widget-title {
  font-size: 36px;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ab1111,
      0 0 40px #ab1111, 0 0 50px #ab1111, 0 0 60px #ab1111, 0 0 70px #ab1111;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e92020, 0 0 40px #e92020,
      0 0 50px #e92020, 0 0 60px #e92020, 0 0 70px #e92020, 0 0 80px #e92020;
  }
}

.rewards_container
  [data-widget-type="rewards-how-it-works"]
  .stamped-rewards-widget-heading-main,
.rewards_container
  [data-widget-type="rewards-earnings-v2"]
  .stamped-rewards-widget-heading-main,
.rewards_container
  [data-widget-type="rewards-spendings-v2"]
  .stamped-rewards-widget-heading-main,
.rewards_container .loyalty-faq {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: initial;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-thickness: 7%;
  font-weight: 700;
}

[data-widget-type="rewards-how-it-works"] .stamped-rewards-widget-how-it-works {
  padding: 30px 0 60px;
}

.rewards_container
  [data-widget-type="rewards-how-it-works"]
  li.stamped-rewards-widget-how-it-works-list-item {
  /*-ms-flex-preferred-size: 33.3%;
  flex-grow: 1;
  display: flex;*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 15px;
  border: solid 5px #d72029;
  padding: 60px 20px 60px 20px;
  margin-right: 20px;
  box-shadow: 5px 10px 10px gray;
  max-height: 300px;
  background-color: #fff;
}

.rewards_container
  [data-widget-type="rewards-activities"]
  .stamped-rewards-widget-heading-main {
  text-align: center;
  text-decoration: underline;
  color: black;
}

.rewards_container [data-widget-type="rewards-activities"] .activity-headers {
  font-weight: bolder;
  color: black;
}

@media (max-width: 1024px) .rewards_container [data-widget-type="rewards-how-it-works"] li.stamped-rewards-widget-how-it-works-list-item {
  padding: 30px 10px 30px 10px;
}

.rewards_container
  [data-widget-type="rewards-how-it-works"]
  .stamped-rewards-widget-number {
  background-color: #d72029;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.rewards_container
  [data-widget-type="rewards-earnings-v2"]
  .stamped-rewards-widget-item-content,
.rewards_container
  [data-widget-type="rewards-spendings-v2"]
  .stamped-rewards-widget-item-content {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  border: 5px solid #d72029;
  background: url("https://cdn.shopify.com/s/files/1/0018/3582/7245/files/Kink-Store-Toy-Pattern.png?v=1629920645");
  padding-bottom: 20px;
  position: relative;
}

.rewards_container
  [data-widget-type="rewards-earnings-v2"][data-logged-in="false"]
  .stamped-rewards-widget-item-content::before,
.rewards_container
  [data-widget-type="rewards-spendings-v2"][data-logged-in="false"]
  .stamped-rewards-widget-item-content::before {
  position: absolute;
  content: " ";
  top: 100%;
  bottom: 0;
  width: 100%;
  background-color: black;
  transition: top 0.3s linear;
}

.rewards_container
  [data-widget-type="rewards-earnings-v2"][data-logged-in="false"]
  .stamped-rewards-widget-item-content:hover::before,
.rewards_container
  [data-widget-type="rewards-spendings-v2"][data-logged-in="false"]
  .stamped-rewards-widget-item-content:hover::before {
  top: 69.5%;
}

.rewards_container
  [data-widget-type="rewards-earnings-v2"]
  .stamped-rewards-widget-campaign-title,
.rewards_container
  [data-widget-type="rewards-spendings-v2"]
  .stamped-rewards-widget-campaign-title,
.rewards_container .stamped-rewards-widget-campaign-value {
  color: #ffffff;
}

.rewards_container
  [data-widget-type="rewards-earnings-v2"]
  .stamped-rewards-widget-campaign-image
  > i::before,
.rewards_container
  [data-widget-type="rewards-spendings-v2"]
  .stamped-rewards-widget-campaign-image
  > i::before {
  color: #d72029;
}

.rewards_container
  [data-widget-type="rewards-referral"]
  .stamped-rewards-page-campaigns-refer {
  text-align: center;
  margin: 50px 0 0;
  color: black;
}

/**
* --------------------------------------------------------------------
* ACCORDIAN FAQ MENU
* --------------------------------------------------------------------
*/
.rewards_container .faq-menu {
  margin: 0 auto;
  width: 60%;
}

.faq-collapsible {
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin: auto auto;
  width: 100%;
  height: 100%;
  border: solid white;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.faq-collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
